workflows/appointment-reminder.json
{
  "name": "Appointment Reminder Sequence (24hr + 1hr)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendly-booking",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000001",
      "name": "Webhook - Calendly Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "calendly-booking-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-event-start",
              "name": "event_start_time",
              "value": "={{ $json.body.event_start_time }}",
              "type": "string"
            },
            {
              "id": "set-invitee-name",
              "name": "invitee_name",
              "value": "={{ $json.body.invitee_name }}",
              "type": "string"
            },
            {
              "id": "set-invitee-email",
              "name": "invitee_email",
              "value": "={{ $json.body.invitee_email }}",
              "type": "string"
            },
            {
              "id": "set-invitee-phone",
              "name": "invitee_phone",
              "value": "={{ $json.body.invitee_phone }}",
              "type": "string"
            },
            {
              "id": "set-event-type",
              "name": "event_type",
              "value": "={{ $json.body.event_type }}",
              "type": "string"
            },
            {
              "id": "calc-24hr-before",
              "name": "reminder_24hr",
              "value": "={{ DateTime.fromISO($json.body.event_start_time).minus({ hours: 24 }).toISO() }}",
              "type": "string"
            },
            {
              "id": "calc-1hr-before",
              "name": "reminder_1hr",
              "value": "={{ DateTime.fromISO($json.body.event_start_time).minus({ hours: 1 }).toISO() }}",
              "type": "string"
            },
            {
              "id": "format-date-display",
              "name": "event_date_display",
              "value": "={{ DateTime.fromISO($json.body.event_start_time).toFormat('cccc, LLLL d, yyyy') }}",
              "type": "string"
            },
            {
              "id": "format-time-display",
              "name": "event_time_display",
              "value": "={{ DateTime.fromISO($json.body.event_start_time).toFormat('h:mm a') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000002",
      "name": "Set - Parse Booking Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 340]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.reminder_24hr }}"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000003",
      "name": "Wait - Until 24hr Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [760, 340]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.invitee_email }}",
        "subject": "=Reminder: Your appointment is tomorrow at {{ $json.event_time_display }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;\">\n  <p>Hi {{ $json.invitee_name }},</p>\n  <p>This is a friendly reminder that your <strong>{{ $json.event_type }}</strong> appointment is scheduled for:</p>\n  <div style=\"background:#f0f4ff;border-left:4px solid #2563eb;padding:16px;margin:16px 0;border-radius:4px;\">\n    <p style=\"margin:0;font-size:18px;font-weight:bold;\">{{ $json.event_date_display }}</p>\n    <p style=\"margin:4px 0 0;font-size:16px;\">{{ $json.event_time_display }} CT</p>\n  </div>\n  <p>If you need to reschedule, please do so at least 4 hours in advance.</p>\n  <p>Looking forward to speaking with you!</p>\n  <p>Best,<br/><strong>Agentic Engineering Consulting</strong><br/>Auburn, AL</p>\n</div>",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000004",
      "name": "Gmail - 24hr Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1020, 340],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.reminder_1hr }}"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000005",
      "name": "Wait - Until 1hr Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1280, 340]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "+12345678900",
        "to": "={{ $json.invitee_phone }}",
        "message": "=Hi {{ $json.invitee_name }}! Quick reminder: your {{ $json.event_type }} appointment is in 1 hour at {{ $json.event_time_display }} CT. See you soon!"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000006",
      "name": "Twilio - 1hr SMS Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1540, 340],
      "credentials": {
        "twilioApi": {
          "id": "3",
          "name": "Twilio Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Calendly Booking": {
      "main": [
        [
          {
            "node": "Set - Parse Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Parse Booking Data": {
      "main": [
        [
          {
            "node": "Wait - Until 24hr Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Until 24hr Before": {
      "main": [
        [
          {
            "node": "Gmail - 24hr Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - 24hr Reminder": {
      "main": [
        [
          {
            "node": "Wait - Until 1hr Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Until 1hr Before": {
      "main": [
        [
          {
            "node": "Twilio - 1hr SMS Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Appointment Reminders",
      "id": "4"
    },
    {
      "name": "Client Template",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
