workflows/missed-call-textback.json
{
  "name": "Missed Call Text-Back",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000001",
      "name": "Webhook - Missed Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "missed-call-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-phone-exists",
              "leftValue": "={{ $json.body.caller_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "condition-phone-valid",
              "leftValue": "={{ $json.body.caller_phone }}",
              "rightValue": "^\\+?1?\\d{10,15}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "IF - Valid Phone Number",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 340]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $json.body.called_number }}",
        "to": "={{ $json.body.caller_phone }}",
        "message": "Hi! We missed your call at [Business Name]. How can we help? Reply here or book a time: https://calendly.com/agenticengineering/intro"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000003",
      "name": "Twilio - Send Text-Back",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [760, 240],
      "credentials": {
        "twilioApi": {
          "id": "3",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Missed Calls"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Caller Phone": "={{ $('Webhook - Missed Call').item.json.body.caller_phone }}",
            "Called Number": "={{ $('Webhook - Missed Call').item.json.body.called_number }}",
            "Call Timestamp": "={{ $('Webhook - Missed Call').item.json.body.timestamp }}",
            "Text Sent": "Yes",
            "Twilio SID": "={{ $json.sid }}"
          }
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000004",
      "name": "Google Sheets - Log Text-Back",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1020, 240],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Missed Calls"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Caller Phone": "={{ $('Webhook - Missed Call').item.json.body.caller_phone }}",
            "Called Number": "={{ $('Webhook - Missed Call').item.json.body.called_number }}",
            "Call Timestamp": "={{ $('Webhook - Missed Call').item.json.body.timestamp }}",
            "Text Sent": "No — Invalid Phone",
            "Twilio SID": ""
          }
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000005",
      "name": "Google Sheets - Log Invalid Call",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [760, 460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Missed Call": {
      "main": [
        [
          {
            "node": "IF - Valid Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Phone Number": {
      "main": [
        [
          {
            "node": "Twilio - Send Text-Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Log Invalid Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Send Text-Back": {
      "main": [
        [
          {
            "node": "Google Sheets - Log Text-Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Missed Calls",
      "id": "3"
    },
    {
      "name": "Client Template",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
